{% extends 'MopaBootstrapBundle::base_css.html.twig' %}
{% block head_style %}
{% stylesheets '@guestbook_css' %}
<link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
{% endstylesheets %}
{% endblock head_style %}



{% block title %}Guest Book demo{% endblock %}

{% block page_header %}
<div class="page-header">
    <h1>{% block headline %}Header
       {{ knp_pagination_render(pagination) }}
     Header{% endblock headline %}</h1>
    <form action='{{ path('_welcome') }}' method="post">
    {{ form_widget(form) }}
    </form>
</div>
{% endblock page_header %}

{% block content %}
<div class="col-sm-9">
{% block content_content %}
{# total items count #}
<div class="count">
    {{ pagination.getTotalItemCount }}
</div>

<strong>Posts </strong>
<p> sorting by:
<tr>
{# sorting of properties based on query components #}
    <th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
    <th{% if pagination.isSorted('a.message') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'message', 'a.message') }}</th>
</tr>
</p>
{% for post in pagination %}
<table>
<tr>
<td>Запись {{ post.id }} </td>
<td> <a href=' {{path('_postview',{'id':post.id}) }}'>просмотреть</a> </td>
</tr>
<tr>
<td> {{ post.message}} </td>
<td> <a href=' {{path('_postdelete',{'id':post.id}) }}'> удалить </td>
</tr>
<p>
</table>
{% endfor %}

{# display navigation #}

{% endblock content_content %}
</div>
{% endblock content %}


{% block footer %}
<h1>Footer 
    {{ knp_pagination_render(pagination) }}
Footer</h1>
{% endblock footer %}

