{% extends 'MopaBootstrapBundle::base_css.html.twig' %}
{% block head_style %}
{% stylesheets '@guestbook_css' %}
<link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
{% endstylesheets %}
{% endblock head_style %}



{% block title %}Guest Book demo{% endblock %}

{% block page_header %}

 <div class="navbar navbar-inverse navbar-fixed-top"> 
    <h2 class="header">{% block headline %}Header
       {{ knp_pagination_render(pagination) }}
     Header{% endblock headline %}</h2>
    <div>
    <form action='{{ path('_welcome') }}' method="post" class="form-signin">
    {{ form_label(form.name)}} {{ form_widget(form.name)}} {#,{'attr':{'class':'input-block-level'} }) }} #}
    {{ form_label(form.email)}}{{ form_widget(form.email) }}
    {{ form_widget(form.ok) }}
    </div>
    {{ form_label(form.message)}}{{ form_widget(form.message) }}
    </form>
 </div> 
{% endblock page_header %}

{% block content_div_start %}{% endblock content_div_start %}

{% block content %}
<div class="col-sm-9">
{% block content_content %}
<div class="content">
<strong>Posts </strong>
<p> sorting by:
<tr>
{# sorting of properties based on query components #}
    <th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
    <th{% if pagination.isSorted('a.message') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'message', 'a.message') }}</th>
</tr>
</p>
{% for post in pagination %}
<table>
<tr>
<td>Запись {{ post.id }} </td>
<td> <a href=' {{path('_postview',{'id':post.id}) }}'>просмотреть</a> </td>
</tr>
<tr>
<td> {{ post.message[:100]}} ... </td>
<td> <a href=' {{path('_postdelete',{'id':post.id}) }}'> удалить </td>
</tr>
<p>
</table>
{% endfor %}

</div>
{% endblock content_content %}
</div>
{% endblock content %}

        {% block footer_tag_start %}
        <div class="navbar navbar-inverse navbar-fixed-bottom">
        {% endblock footer_tag_start %}


{% block footer %}
<!-- <div class="page-footer">  -->
  <h2>Footer
    {{ knp_pagination_render(pagination) }}
  Footer  </h2>
<!-- </div> -->
{% endblock footer %}

        {% block footer_tag_end %}
        </div>
        {% endblock footer_tag_end %}

